﻿html {
    height: 100%;
}

/* Styles for Splash Screen */
.splashBody {
    font: 14px Segoe UI, Calibri, Trebuchet MS, Arial, sans-serif;
    margin: 0;
    min-height: 100%;
    background-color: #006699;
}

.splash {
    padding-top: 250px;
    padding-left: 50px;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* Styles for Login page*/
body.loginBody {
    font: 14px Segoe UI, Calibri, Trebuchet MS, Arial, sans-serif;
    margin: 0;
    min-height: 100%;
}




.loginLogo {
    width: 300px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}



input {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.mainForm input {
    padding: 0.5em;
}

.mainForm input[type="text"] {
    background-color: #E2E2E2;
}

.mainForm input[type="text"]:focus,
.mainForm input[type="text"]:hover {
    background-color: #E6F0F5;
}

.button {
    background-color: #006699;
    color: #FFFFFF;
}

.button:focus,
.button:hover {
    background-color: #005787;
}




.formContainer {
    margin: 0 auto;
    max-width: 20rem;
}

.formLogin {
    color: #606468;
}

.formLogin input {
    padding: 1em;
    width: 100%;
}

.formLogin input[type="username"],
.formLogin input[type="password"] {
    background-color: #FFFFFF;
}

.formLogin input[type="username"]:focus,
.formLogin input[type="username"]:hover,
.formLogin input[type="password"]:focus,
.formLogin input[type="password"]:hover {
    background-color: #E6F0F5;
}

.formLogin input[type="submit"] {
    background-color: #006699;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
}

.formLogin input[type="submit"]:focus,
.formLogin input[type="submit"]:hover {
    background-color: #005787;
}

.formField {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.5em;
}

.loginBody {
    background-color: #E2E2E2;
    align-items: center;
}